[submodule "netex-schema"]
	path = netex-schema
	url = https://github.com/NeTEx-CEN/NeTEx.git
[submodule "netex-italian-profile"]
	path = netex-italian-profile
	url = git@github.com:5Tsrl/netex-italian-profile.git
[submodule "siri-italian-profile"]
	path = siri-italian-profile
	url = git@github.com:5Tsrl/siri-italian-profile.git
